.grid{
	border: 1px solid red;
	overflow: hidden;
}

.unit{
	float: left;
	background-color: #fff;
}

.gutter{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.unit-s-1-2{
	width: 50%;
}

.unit-s-1{
	width: 100%;
}

@media only screen and (min-width: 30em) {
	
	.unit-m-1-3{
		width: 33.3333%;
	}

	.unit-m-1{
		width: 100%;
	}

	.unit-m-1-2{
		width: 50%;
	}
}

@media only screen and (min-width: 50em) {
	
	.unit-l-1-3{
		width: 33.3333%;
	}

	.unit-l-1-2{
		width: 50%;
	}
}

